.homeHeader {
	background-image: url("./boozehound.jpg");
	overflow: hidden;
	position: relative;
	z-index: -4;
	background-repeat: no-repeat;
	height: 12vw;
	width: 80vw;
	margin: 0 auto;
	justify-content: center;
	background-position-x: center;
	background-position-y: center;
}

.homeHeader h1,
.homeHeader h5 {
	width: 100%;
	text-align: center;
	background-color: rgba(10, 10, 10, 0.9);
	color: white;
	margin: 0;
}
.homeHeader h1 {
	font-size: 4vw;
}
.homeHeader h5 {
	font-size: 1vw;
	padding-bottom: 1vw;
}
