.homeHeader {
	background-image: url("./boozehound.jpg");
	overflow: hidden;
	background-repeat: no-repeat;
	height: 200px;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
	background-position-x: center;
	background-position-y: center;
	display: flex-box;
}

.homeHeader h1,
.homeHeader h5 {
	height: 40px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	background-color: rgba(10, 10, 10, 0.9);
	color: white;
	align-items: center;
	margin: 0;
}
.homeHeader h1 {
	margin-top: 60px;
}
