.category-drinks img {
	width: 333px;
	height: auto;
	border-radius: 12px 12px 0 0;
}
.categoryData {
	background-color: black;
	color: white;
	width: 273px;
	padding: 30px;
	margin-top: -5px;
	border-radius: 0 0 12px 12px;
}
.categoryData li {
	line-height: 2;
	font-weight: bolder;
}
.category {
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 10px;
}
