.modal-dialog {
	max-width: 70% !important;
	max-height: 30vh !important;
}
.modal-content,
.modal-content .close {
	background-color: #000;
	color: #fff;
}
.modal-header,
.modal-footer {
	border-bottom: none;
	border-top: none;
}
.modal-footer .row {
	width: 100%;
}
.fwUsed {
	background-color: rgba(255, 255, 255, 1);
	padding: 15px;
}
.modal-body img {
	width: 100%;
}
.modal-img {
	box-shadow: 1px 7px 13px 3px gray;
	max-width: 23% !important;
	margin: 1%;
}
.modal-img:active {
	box-shadow: none;
}
@media only screen and (max-device-width: 576px) {
	.modal-content {
		width: 96vw;
	}
}
