.searchbar form {
	width: 28vw;
	font-size: 1.05vw;
}
.searchbar form,
.searchbar button {
	height: 2vw !important;
}
.searchbar form {
	border-right: none;
}
.searchbar button {
	border: none;
}
@media only screen and (max-width: 767px) {
	/* .dropdown-menu {
		right: 108px !important;
		top: 8% !important;
		left: 1px !important;
		display: block !important;
		position: inherit !important;
		z-index: 1000 !important;
	} */
}
