nav {
	box-shadow: 4px 1px 7px 2px gray;
}
nav .bg-light {
	background-color: #595959 !important;
}
.navbar {
	padding-left: 0px !important;
}
.navbar-brand {
	width: 5rem;
	position: relative;
}
.navbar-light .navbar-brand,
.nav-link {
	color: white !important;
}
.dropdown-menu {
	box-shadow: 0px 3px 7px -4px gray;
}
