nav {
	box-shadow: 4px 1px 7px 2px gray;
}
nav .bg-light {
	background-color: #595959 !important;
}
.navbar-light .navbar-brand,
.nav-link {
	color: white !important;
}
.dropdown-menu {
	box-shadow: 0px 3px 7px -4px gray;
	z-index: -1 !important;
}
